*{margin: 0px; padding: 0px}
.container{
    max-width: 750px;
}
header{
    background: #111; height: 40px;display: block;position: fixed; top: 0px; left: 0px; width: 100%;
}
#content{
    padding-top: 40px;
}
footer{
    background: #777; height: 60px;display: block;position: fixed; bottom: 0px; left: 0px; width: 100%
}
